{% extends "base.html" %}

{% block cuerpo %}
<divclass="row"> 
<div class="col-md-4 offset-md-4">
    <div class="card"> <!--Targeta-->
        <div class="card-body">
            <form action="/editarEmpleado/" method="POST"> {% csrf_token %}<!--formulario-->
                <div class="form-group">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    value="{{misempleados.nombre}}" minLenght="6" maxLenght="16" readonly reqired>
                </div>
                
                <div class="form-group py-3">
                    <input type="text" id="edad" name="edad" class="form-control"
                    value="{{misempleados.edad}}" maxLenght="100" reqired>
                </div>

                <div class="form-group ">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    value="{{misempleados.direccion}}"  min="1" max="20" reqired>
                </div>

                <div class="form-group ">
                    <input type="text" id="txtid" name="txtid" class="form-control"
                    value="{{misempleados.id}}"  min="1" max="20" reqired>
                </div>

                <div class="form-group ">
                    <input type="text" id="txttelefono" name="txttelefono" class="form-control"
                    value="{{misempleados.direccion}}"  min="1" max="20" reqired>
                </div>

                <div class="form-group py-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div> <!--columna-->
</div> <!--fila-->

{% endblock %}