{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--columna izquierda-->
        <h1> Registrar </h1>
        <div class="card"> <!--Targeta-->
            <div class="card-body">
                <form action="/registrarEmpleados/" method="POST"> {% csrf_token %}<!--formulario-->
                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                        placeholder="Nombre Empleado" minLenght="6" maxLenght="20" reqired>
                    </div>
                    <div class="form-group ">
                        <input type="text" id="edad" name="edad" class="form-control"
                        value="1"  min="18"  reqired>
                    </div>
                    
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                        placeholder="Direccion Empleado"  maxLenght="150" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtid" name="txtid" class="form-control"
                        placeholder="Id Empleado"  maxLenght="150" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtelefono" name="txtelefono" class="form-control"
                        placeholder="Telefono Empleado"  maxLenght="150" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtcorreo" name="txtcorreo" class="form-control"
                        placeholder="Correo Empleado"  maxLenght="150" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtsexo" name="txtsexo" class="form-control"
                        placeholder="Sexo Empleado"  maxLenght="150" reqired>
                    </div>

                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!--Targeta-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"> <!--columna derecha-->
        <h1> Listado de empleados </h1>
        <div class="table-responsive"> <!--tabla responsive-->
            <table class="table table-striped">
                <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Direccion</th>
                <th scope="col">Id</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Sexo</th>
                <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for m in misempleados  %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{m.nombre}}</td>
                    <td>{{m.edad}}</td>
                    <td>{{m.direccion}}</td>
                    <td>{{m.id}}</td>
                    <td>{{m.telefono}}</td>
                    <td>{{m.correo}}</td>
                    <td>{{m.sexo}}</td>
                    <td> <a href="seleccionarEmpleado/{{m.nombre}}" class="btn btn-info">Editar</a> </td> 
                    <td> <a href="borrarEmpleado/{{m.nombre}}" class="btn btn-danger">Borrar</a> </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}